<div id="search-form">
	<form method="get" action="/recipes/search">
		<input type="text" name="searchwords" class="search-bar">
		<p class="tag">Enter the ingredients you have left over in your fridge (separate with commas for more than one ingredient).</p>
		<input type="submit" value="Give me a recipe!" class="button">
	</form>
</div>

